extends layout

block append head
  link(rel="stylesheet" src="leaflet/dist/leaflet.css")
  script(src="leaflet/dist/leaflet.js")

block content
  div(id="main-map")
  script(src="javascripts/leaflet_scripts.js")

  
