extends layout

block append head
  link(rel="stylesheet" href="leaflet/dist/leaflet.css")
  script(defer, src="leaflet/dist/leaflet.js")
  script(defer, src="javascripts/main-map_scripts.js")

block content
  #mainMap(class="flex-grow-1")


  
